@import url(/style/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.modal {
  width: 300px;
  transition: opacity 0.5s ease;
}

.modal-content {
  width: 300px;
  transition: opacity 0.5s ease;
}

.list-group-item:hover {
  background-color: rgba(59, 57, 57, 0.164) !important;
}

.model.show {
  opacity: 1;
}

.modal-content.show {
  transform: translateX(0);
}

.btn-animation {
  margin-top: 5%;
  padding: 0.25rem 0.75rem; /* Ajuste o padding conforme necessário */
  font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
  bottom: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal
}

.btn-animation:houver {
  transform: translateY(-2px);
  transition: transform 0.2s;

}

.btn-animation:active {
  transform: translateY(2px);
}

.cadastro-1 {
  margin-top: 10%;
}
.form-control{
  max-width: 900px;
  width: 100%;
}

/*Nav Bar*/
.custom-list-item {
  cursor: pointer;
}


/*ajuda*/ 


.caixaAjuda {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.titulo {
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 10px;
  position: relative;
  font-weight: bold;
}

.titulo::after {
  content: "\25B8";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.titulo.expandido::after {
  content: "\25BE";
}

.conteudo {
  display: none;
  padding: 10px;
}
.conteudo {
  font-family: Arial, sans-serif;
}

.caixaAjuda .titulo,
.caixaAjuda .conteudo {
  margin-bottom: 10px; 
}
